body {
    margin:0;
   font-family: 'Lora', serif;
   line-height:1.35;
   background:#f2f6f8;
 }
 
 .Prose, blockquote {
   display: grid;
   grid-template-columns: 
     [full-start] minmax(1em, 1fr) 
     [main-start] minmax(0, 36em) [main-end]
     minmax(1em, 1fr) [full-end];
   
   max-width:1500px;
   margin:auto;
   box-shadow: 0 0 12px rgba(0,0,0,.25);
   background:white;
 }
 
 .Prose > * {
   grid-column: main;
 }
 
 .Prose-splash {
   grid-column: full;
 }
 
 blockquote {
   background:#0b0250ed; color:rgb(250, 250, 250); 
   padding:2em; margin:0; 
   line-height:1.35;
 }
 blockquote inner {
   display:block;
   grid-column: main;
   margin:auto;
   font-size:1.15em;
 }
 blockquote cite {
   display:block; text-align:right;
   margin:.4em 0;
 }
 blockquote a {color:#def;}
 
 figure {
   background:#f7f6faed;
   color:white;
   margin:0; padding:0;
   text-align:center;
 }
 figcaption {padding:.8em;}
 a {color:#27b;}
 img {max-width:100%; vertical-align:top;}
 p {line-height:1.55; margin:0 0 1.4em;}
 * + p {margin-top:1.4em;}
 p + p {margin-top:0em;}
 h1 {font-size:4.88em; line-height:0.95; margin:.35em 0; margin-right:-1px;  }
 h1 small {font-size:56.5%; line-height:1;  }
 
 @media (min-width:900px) {
   body { font-size:115%;}  
 }
 
 @media (min-width:1400px) {
   body { font-size:130%;}  
 }